<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hybrid.mapper.DeptMapper">
    <sql id="deptForm">
        select deptno,
        	   dname,
        	   loc
          from dept
    </sql>

	<select id="selectAll" resultType="com.hybrid.model.Dept">
	    <include refid="deptForm"/>
	    select deptno,
        	   dname,
        	   loc
          from dept
	</select>
	
	<select id="selectByDeptno" resultType="com.hybrid.model.Dept">
	  	select deptno,
        	   dname,
        	   loc
          from dept
	     where deptno = #{deptno}
	</select>
	
	<resultMap id="deptResultMap" type="com.hybrid.model.Dept">
	    <id property="deptno" column="deptno"/>
	    <result property="dname" column="dnames"/>
	    <result property="loc" column="loc"/>
	</resultMap>
	
	<select id="selectAllWithEmps" resultMap="deptResultMap">
	    select deptno,
        	   dname,
        	   loc
          from dept
	</select>
	
	<select id="selectByDeptnoWithEmps">
	    
	</select>
	
</mapper>
